In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Profit Prediction.csv")

In [3]:
dataset

        Dell        Hp  Barclays       IBM Country        Profit
0    2345.52   9990.88  27192.94  48217.68     USA  7.312252e+06
1    4256.86  11902.22  29104.28  50129.02   India  7.949365e+06
2    6168.20  13813.56  31015.62  52040.36   Spain  8.586478e+06
3    8079.54  15724.90  32926.96  53951.70   China  9.223592e+06
4    9990.88  17636.24  34838.30  55863.04     USA  9.860705e+06
5   11902.22  19547.58  36749.64  57774.38   India  1.049782e+07
6   13813.56  21458.92  38660.98  59685.72   Spain  1.113493e+07
7   15724.90  23370.26  40572.32  61597.06   China  1.177204e+07
8   17636.24  25281.60  42483.66  63508.40     USA  1.240916e+07
9   19547.58  27192.94  44395.00  65419.74   India  1.304627e+07
10  21458.92  29104.28  46306.34  67331.08   Spain  1.368338e+07
11  23370.26  31015.62  48217.68  69242.42   China  1.432050e+07
12  25281.60  32926.96  50129.02  71153.76     USA  1.495761e+07
13  27192.94  34838.30  52040.36  73065.10   India  1.559472e+07
14  29104.28  36749.64  53951.70  74976.44   Spain  1.623184e+07
15  31015.62  38660.98  55863.04  76887.78   China  1.686895e+07

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset=dataset.astype(int)

In [5]:
dataset

,Dell,Hp,Barclays,IBM,Profit,Country_India,Country_Spain,Country_USA
0,2345,9990,27192,48217,7312251,0,0,1
1,4256,11902,29104,50129,7949365,1,0,0
2,6168,13813,31015,52040,8586478,0,1,0
3,8079,15724,32926,53951,9223591,0,0,0
4,9990,17636,34838,55863,9860705,0,0,1
5,11902,19547,36749,57774,10497818,1,0,0
6,13813,21458,38660,59685,11134931,0,1,0
7,15724,23370,40572,61597,11772045,0,0,0
8,17636,25281,42483,63508,12409158,0,0,1
9,19547,27192,44395,65419,13046271,1,0,0
10,21458,29104,46306,67331,13683385,0,1,0
11,23370,31015,48217,69242,14320498,0,0,0
12,25281,32926,50129,71153,14957611,0,0,1
13,27192,34838,52040,73065,15594725,1,0,0
14,29104,36749,53951,74976,16231838,0,1,0
15,31015,38660,55863,76887,16868951,0,0,0

In [6]:
dataset.columns

Index(['Dell', 'Hp', 'Barclays', 'IBM', 'Profit', 'Country_India',
       'Country_Spain', 'Country_USA'],
      dtype='object')

In [7]:
Independent=dataset[['Dell', 'Hp', 'Barclays', 'IBM',
       'Country_India', 'Country_Spain', 'Country_USA']]

In [8]:
Dependent=dataset[["Profit"]]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(Independent, Dependent, test_size=0.30, random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [11]:
x_train

array([[-0.72550096, -0.72542547, -0.72542773, -0.72542547, -0.31622777,
        -0.61237244,  1.63299316],
       [-1.13466459, -1.13469748, -1.13469004, -1.13469748, -0.31622777,
         1.63299316, -0.61237244],
       [ 1.32074538,  1.32072048,  1.3206697 ,  1.32072048, -0.31622777,
         1.63299316, -0.61237244],
       [ 0.50220402,  0.50228351,  0.50225214,  0.50228351, -0.31622777,
         1.63299316, -0.61237244],
       [-0.11164847, -0.11157098, -0.1115878 , -0.11157098, -0.31622777,
        -0.61237244, -0.61237244],
       [ 1.52532719,  1.52530296,  1.52535438,  1.52530296, -0.31622777,
        -0.61237244, -0.61237244],
       [ 0.70689288,  0.70686599,  0.70682976,  0.70686599, -0.31622777,
        -0.61237244, -0.61237244],
       [-0.93008278, -0.930115  , -0.93011241, -0.930115  , -0.31622777,
        -0.61237244, -0.61237244],
       [-1.54393527, -1.54396949, -1.54395234, -1.54396949, -0.31622777,
        -0.61237244,  1.63299316],
       [-0.5208121 , -0.52084299, -0.5208501 , -0.52084299,  3.16227766,
        -0.61237244, -0.61237244],
       [ 0.9114747 ,  0.91144847,  0.91151444,  0.91144847, -0.31622777,
        -0.61237244,  1.63299316]])

In [12]:
scy=StandardScaler()
y_train=scy.fit_transform(y_train)
y_test=scy.transform(y_test)

In [13]:
from sklearn.svm import SVR
regressor=SVR(kernel="rbf", C=1000)
regressor.fit(x_train,y_train)

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1000)

In [14]:
regressor.intercept_

array([-0.08505417])

In [15]:
regressor.n_support_

array([8])

In [16]:
regressor.support_

array([ 0,  1,  2,  5,  6,  8,  9, 10])

In [17]:
y_pred=regressor.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.33485923868141376

In [18]:
import pickle
filename="finalized_model_linear.sav"
pickle.dump(regressor,open(filename, 'wb'))
preinput=sc.transform([[100,200,3000,50,450,80,780]])
preinput

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[  -1.7842734 ,   -2.59203986,   -4.13377021,   -6.7004971 ,
        1565.01121402,  179.01687537, 1750.77279365]])

In [20]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict(preinput)
result

array([-0.08505417])

In [21]:
preoutput=scy.inverse_transform([result])

In [22]:
preoutput

array([[11854730.1845427]])